/* ***** FONTS ***** */

@font-face {
    font-family: 'Point Book';
    src: url('font/Point-Book.eot');
    src: url('font/Point-Book.eot?#iefix') format('embedded-opentype'),
        url('font/Point-Book.woff2') format('woff2'),
        url('font/Point-Book.woff') format('woff'),
        url('font/Point-Book.ttf') format('truetype'),
        url('font/Point-Book.svg#Point-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Point';
    src: url('font/Point-Black.eot');
    src: url('font/Point-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Point-Black.woff2') format('woff2'),
        url('font/Point-Black.woff') format('woff'),
        url('font/Point-Black.ttf') format('truetype'),
        url('font/Point-Black.svg#Point-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Point';
    src: url('font/Point-Bold.eot');
    src: url('font/Point-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Point-Bold.woff2') format('woff2'),
        url('font/Point-Bold.woff') format('woff'),
        url('font/Point-Bold.ttf') format('truetype'),
        url('font/Point-Bold.svg#Point-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Point';
    src: url('font/Point-Regular.eot');
    src: url('font/Point-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Point-Regular.woff2') format('woff2'),
        url('font/Point-Regular.woff') format('woff'),
        url('font/Point-Regular.ttf') format('truetype'),
        url('font/Point-Regular.svg#Point-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Point Extra';
    src: url('font/Point-ExtraBold.eot');
    src: url('font/Point-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/Point-ExtraBold.woff2') format('woff2'),
        url('font/Point-ExtraBold.woff') format('woff'),
        url('font/Point-ExtraBold.ttf') format('truetype'),
        url('font/Point-ExtraBold.svg#Point-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Point Semi';
    src: url('font/Point-SemiBold.eot');
    src: url('font/Point-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/Point-SemiBold.woff2') format('woff2'),
        url('font/Point-SemiBold.woff') format('woff'),
        url('font/Point-SemiBold.ttf') format('truetype'),
        url('font/Point-SemiBold.svg#Point-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}





/* ***** STYLES ***** */

html {
  scroll-behavior: smooth;

  position: relative;

  margin: 0;
  padding: 0;

  height: 100%;
}

body {
    --nav-width: 200px;
    margin: 0 0 0 0;

    font-family: 'Clear Sans';
    font-size: 18px;
    color: white;

    height: 100%;

    text-align: center;

    background-image: url('../img/blue_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: #ffffff;
}

#aceapp-header {
  transition: margin-left .2s;
}

#mySidenav {
  transition: margin-left .2s;
}

#app {
  height: 92%;
  transition: margin-left .2s;
}



/* Colors */

span.dark-blue {
  color: #003b5c;
}

span.light-blue {
  color: #54c8f5;
}


/* Login */

.loginWrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.loginDiv {
  display: table-cell;
  vertical-align: middle;
}

.loginForm {
  width: 300px;

  color: black;
  background-color: white;
  border-radius: 10px;

  padding-bottom: 0px;

  padding-right: 30px;
  padding-left: 30px;
}

.loginForm h1, .loginForm h2, .loginForm p {
  text-align: left;
  padding-left: 15px;

  color: #023C5A;
}

.loginForm h1 {
  padding-top: 50px;

  font-size: 35px;
  font-family: 'Point Extra';
}

.loginForm h2 {
  margin-bottom: 50px;
  line-height: 25px;

  font-size: 25px;
  font-family: 'Point Book';
}

.loginForm h2 b {
  font-family: 'Point';
}

.loginForm p {
  margin-bottom: 5px;
  margin-top: 0px;

  font-family: 'Point Extra';
  font-size: 15px;
}

.loginForm input, #login-btn, #forgot-pass-btn {
  width: 90%;
  height: 40px;
  margin-bottom: 40px;

  border: solid 1px #023C5A;
  border-radius: 5px;

  padding-left: 10px;

  font-family: 'Point';
  color: #023C5A;
}

.loginForm #pass-form {
  margin-bottom: 50px;
}

.loginForm #login-btn {
  color: white;
  background-color: #023C5A;
  height: 60px;

  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 0px;

  font-family: 'Point Extra';
  font-size: 18px;

  cursor: pointer;
}

.loginForm #forgot-pass-btn {
  color: white;
  background-color: lightgray;
  height: 50px;

  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  padding-left: 0px;

  font-family: 'Point Extra';
  font-size: 18px;

  cursor: pointer;
}


/* LOADER SPINNER */
.loader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #023C5A;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.loader-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}


/* ABSTRACT (ALL) PAGES */
.headernav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background: white;
  padding-top: 20px;
  padding-bottom: 0px;

  height: 40px;

  z-index: 1000;

  text-align: center;
  padding-right: 10px;

  filter: drop-shadow(0px -8px 10px #003b5c);
}

.header-logo {
  position: absolute;

  width: 200px;
  height: 35px;

  margin-left: -100px;

  top: 17px;

  font-family: 'Point';
  font-weight: Bold;
  font-size: 21px;

  color: #003b5c;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  z-index: 1;

  right: 20px;
  margin-top: 40px;

  border: 2px solid #003b5c;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: block;

  text-align: left;
}

.dropdown-content a:hover {
  background-color: #E5F8FF;
}

.dropdown-content #menu-stores:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-show {
  display: block;
}


.sidenav {
  height: 100%; /* 100% Full-height */
  width: 350px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #003b5c;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */

  z-index: 1300;

  text-align: left;

  /*
  -webkit-transform: translateX(-700px;);
  -ms-transform: translateX(-700px);
  transform: translateX(-700px);
  */
  margin-left: -350px;
}

.side-nav-open {
  -webkit-transform: translateX(0px;);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.left-nav {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: -50px;
  float: left;

  padding-top: 0px;

  cursor: pointer;
}

.right-nav {
  height: 20px;
  width: 20px;
  margin-left: -50px;
  margin-right: 20px;
  float: right;

  padding-top: 8px;

  cursor: pointer;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .main-rep {
  margin-top: 150px;
  margin-bottom: 25px;

  font-size: 25px;
  line-height: 20px;
}

.sidenav .main-rep-mini {
  font-size: 18px;
  color: #54c8f5;
}

.nav-icon {
  height: 20px;
  padding-right: 15px;
  margin-bottom: -3px;
}

.clickable {
  vertical-align: middle;
  margin: auto;
  display: flex;

  line-height: 10px;
}

/* When you mouse over the navigation links, change their color */
.clickable:hover {
  /* text-decoration: underline; */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 25px;
  margin-left: 50px;
  color: white;

  padding-top: 22px;
}

.sidenav .sidenav-logo {
  position: absolute;

  background-image: url('../img/abg_logo_white.png');
  background-size: 120px 55px;
  background-repeat: no-repeat;

  width: 130px;
  height: 75px;

  top: 20px;
  left: 0px;
  margin-left: 110px;
  margin-top: 18px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.home-row {
  float: left;

  width: 100%;
  /* height: 100%; */

  box-sizing: border-box;
  display: flex;

  padding: 30px;
  margin-bottom: 50px;

  height: min-content;
}

.home-row .leader-widget, .wc-widget, .seltzer-widget, .table-widget, .details-widget {
  border-radius: 10px;

  text-align: left;
}

.home-row .leader-widget {
  width: 40%;
  padding: 20px 30px;  /* top and bottom 20, right and left 30 */

  margin-right: 30px;
  background-color: white;

  height: min-content;
  margin-bottom: 50px;
}

.home-row .table-widget {
  width: 73%;
  padding: 20px;

  padding-top: 5px;

  background-color: white;

  background: linear-gradient(180deg, #003b5c 75px, white 75px);
  height: min-content;

  padding-bottom: 30px;

  margin-bottom: 50px;
}

.home-row .details-widget {
  width: 23%;
  padding: 20px;
  margin-right: 30px;

  padding-top: 5px;

  background: linear-gradient(180deg, #003b5c 75px, white 75px);

  height: min-content;
}

.home-row .detail-head {
  margin-bottom: 20px;
  line-height: 20px;

  font-family: 'Point Semi';
}

.detail-right {
  float: right;
  padding-top: 10px;
  font-size: 30px;

  color: #5CC9F3;
}

.detail-right.priority {
  font-family: 'Point Extra'; text-decoration: underline 5px #5CC9F350;
}

.home-row h1 {
  font-size: 25px;
  color: #003b5c;
  font-family: 'Point Extra';
  font-weight: bold;

  margin-bottom: 0px;
}

.home-row .table-widget h1 {
  color: white;

  margin-bottom: 45px;
}

.home-row .details-widget h1 {
  color: white;
  margin-bottom: 20px;
}

.home-row .details-widget .detail-head {
  color: #003b5c;
}

.home-row h2 {
  font-size: 15px;
  color: #003b5c;
  font-family: 'Point';
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
}

.home-row .wc-widget, .seltzer-widget {
  width: 23%;
  padding: 20px;
  margin-right: 30px;

  background-color: white;

  height: min-content;
}

.home-row .seltzer-widget {
  margin-right: 0px;
}


/* Clear floats after the columns */
.home-row:after {
  content: "";
  display: table;
  clear: both;
}

.territory-top, .store-top {
  color: white;

  font-size: 15;
  font-family: 'Point Extra';
  font-weight: bold;
  height: 35px;
  width: 100%;

  padding-top: 10px;
}

.territory-top {
  background-color: #003b5c;
}

.store-top {
  background-color: #54c8f5;
}

.content-div {
  border-top: 2px solid #3a3a3c;

  width: 500px;
  margin: auto;

  padding-top: 35px;
  padding-bottom: 35px;
}

.content-div-bottom {
  border-bottom: 2px solid #3a3a3c;
  margin-bottom: 175px;
}

.content-div h1 {
  font-size: 20px;
  font-weight: bold;

  margin-bottom: -10px;
}

.content-div h1.top-title {
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.content-div h2 {
  font-size: 17px;
  font-weight: normal;
}

.menu-style {
  margin: auto;

  margin-top: 30px;
  margin-bottom: 30px;

  display: block;
}

.leaderboard-div

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.footer-text {
  font-size: 15px;
  color: white;
}

.leaderboard-row {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: 2px solid #023C5A;

  color: #023C5A;
  font-weight: bold;
  font-family: 'Point';
  font-size: 18px;
}

.leaderboard-row-right {
  float: right;
  color: #5CA875;

  margin-top: -5px;

  font-size: 25px;
  font-family: 'Point Extra';
}


/* Account */
.account-widget {
  border-radius: 10px;
  text-align: left;

  width: 400px;
  height: 625px;

  margin-top: 50px;

  background-color: white;

  text-align: center;
}

.account-widget img {
  background-color: white;
  height: 40%;
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  object-fit: cover;
}

.account-widget h1 {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;

  text-align: left;
}

.account-widget h2 {
  text-align: left;
  margin-left: 30px;
}

.account-widget button {
  width: 85%;
  margin-bottom: 10px;

  border-radius: 5px;

  font-family: 'Point Extra';
  font-size: 18px;
  cursor: pointer;
}

.account-widget #save-btn {
  margin-top: 20px;
  height: 70px;

  background-color: #003b5c;
  border: none;
  color: white;
}

.account-widget #signout-btn {
  background-color: white;
  border: 1px solid grey;

  font-family: 'Point';

  height: 50px;
  color: grey;
}

.account-widget #signout-btn:hover {
  background-color: #ED493E;
  border: none;

  font-family: 'Point';

  height: 50px;
  color: white;
}


.links-button {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;

  margin-top: 12px;

  font-family: 'Point Bold';

  cursor: pointer;

  background-color: #54c8f5;
  color: white;
}

.links-button.agency {
  background-color: #c380ff;
}

.links-button.inventory {
  background-color: #f56909;
}

.links-button.stores {
  background-color: #003a5c;
}


.opportunity-button {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5px;

  position: absolute;

  margin-top: 12px;
  right: 50px;

  font-family: 'Point Bold';

  cursor: pointer;

  background-color: #54c8f5;
  color: white;
}

.opportunity-button.delisted {
  margin-right: 135px;
  opacity: 100;
}

.opportunity-button.listed {
  opacity: 0.5;
}

.opportunity-button.csv {
  margin-right: 270px;
  opacity: 100;

  background-color: #0f9d58;
}


.toggle {
  position: absolute;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  display: inline-block;
  cursor: pointer;
  background-color: #333;
  transition: 0.4s;
  width: 400px;
  height: 50px;

  margin-top: 7px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 180px;
  background-color: #fff;
  transition: 0.4s;
  top: 10px;
  left: 10px;

  margin-top: 7px;
}

.slide-title {
  position: fixed;
  margin-left: 50px;
  margin-top: 20px;
}

input:checked + .slider {
  background-color: blue;
}

input:checked + .slider:before {
  transform: translateX(200px);
}

.slider.round {
  border-radius: 5px;
}
.slider.round::before {
  border-radius: 5px;
}


.gridjs-table {
  width: 100%;
}



.home-row .table-widget .confirm-checkoff-warning {
  color: black; font-size: 15px; font-family: 'Point'; margin-bottom: 30px; opacity: 0.5;
}

.home-row .table-widget .confirm-checkoff-h1 {
  color: black; font-size: 25px; font-family: 'Point'; margin-bottom: -10px; color:#f5690a;
}

.home-row .table-widget .confirm-checkoff-h2 {
  color: black; font-size: 20px; font-family: 'Clear Sans'; font-weight: normal; margin-bottom: 30px;
}
